html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  overflow-x: hidden;
}
.clearfix {
  display: block;
}
#div-wrapper {
   white-space: nowrap;
   max-width: 100%;
 }
 .single-div {
   width: 100%;
   display: inline;
   text-align: center;
   vertical-align: middle;
 }

 #vr {
   height:400px;
   position:relative;
 }

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: inline-block;
}
.object-fit_fill {
  object-fit: fill;
}
#header img {
  width: 100%;
}
.image {
  float: left;
  width: 100%;
  max-height:500px;
}
.cloud-font {
  position:absolute;
  font-family:sans-serif;
  top: 140px;
  left: calc(50% - 300px);
  font-size:90px;
  color: transparent;
  font-size: 5.9vw;
  text-shadow: 0px 0px 05px white;
}
.header-text {
  position:absolute;
  font-family:sans-serif;
  bottom: 30px;
  right: calc(50% - 190px);
  font-size:27px;
  color: white;
  font-kerning: auto;
  font-size: 2.9vw;
}
#minty {
  color: #708139;
  position:absolute;
  top:3px;
  left:31px;
  font-size:17px;
  font-weight: 200;
  text-shadow: 3px -2px 8px black;
}
.navigation{
  background-color: rgba(50,124, 105, 0.3);
  width:100%;
  height:50px;
  position: fixed;
  top: 0;
  z-index:0;
}
.navigation
li.pull-right h4{
  padding-right: 8px;
  color: white;
  text-decoration: none;
  font-family:arial;
}
li.pull-right h4:hover{
  color: gray;
}

.logo {

-ms-transform: rotate(60deg); /* IE 9 */
-webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
transform: rotate(60deg);
text-transform:120deg;position:absolute;top:4px;left:8px;width:43px; height: auto;
}
#about .bcg{
  display:block;
  width:100%;
  position:relative;
  background-color: #ccc;
  top:0px;
  height:260px;
}

.box-1 {
	background: url('../imgs/design-sprites.png') no-repeat -15px -2px;
	width: 152px;
	height: 151px;

}

.box-2 {
	background: url('../imgs/design-sprites.png') no-repeat -229px -4px;
	width: 152px;
	height: 149px;
  float:left;
}

.box-3 {
	background: url('../imgs/design-sprites.png') no-repeat -442px -5px;
	width: 149px;
	height: 144px;
  float:left;
}
.box-1,.box-2,.box-3 {
margin-left: calc(50% - 93px);
padding-right: calc(50% - 63px);
top: 50px;
position:absolute;
float: right;
clear:all;
}
.about-text {
color:white;
position:absolute;
top:150px;
font-family:arial;
font-weight:bold;
border:1px solid white;
padding:3px 15px 0 15px;
transition:500ms;
}
.about-text:hover {
color:black;
border-color: grey;
}


#design .bcg {
  display:block;
  width:100%;
  position:relative;
  background: url("../imgs/lighting.jpeg") center;
  background-color: #ccc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:250px;
}
.layer {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 125px;
    margin-left: -1px;
    display: inline-block;
}
.layer-text h3{
  position:absolute;
font-size:2.5vw;
top:5px;
color:white;
text-align:right;
display:inline-block;
vertical-align: top;
width: 750px;
right:0;
margin-right:50px;
white-space: initial;
}
#develop .bcg {
  display:block;
  width:100%;
  position:relative;
  background-color: #ccc;
  height:280px;
}
#optimize .bcg {
  display:block;
  width:100%;
  position:relative;
  background-color: #ccc;
  height:280px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.work-box{
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  height:280px;
 }

#first {
	background: url('../imgs/work-sprites.png') no-repeat -1px -1px;
	width: 84px;
	height: 84px;
}
#second {
	background: url('../imgs/work-sprites.png') no-repeat -129px -1px;
	width: 81px;
	height: 81px;
}
#third {
  background: url('../imgs/work-sprites.png') no-repeat -257px -1px;
  	width: 84px;
  	height: 84px;
}

#fourth {
  background: url('../imgs/work-sprites.png') no-repeat -385px -19px;
  width: 100px;
  height: 65px;
}
#fifth {
  background: url('../imgs/work-sprites.png') no-repeat -2px -88px;
	width: 83px;
	height: 83px;
}
#sixth {
  background: url('../imgs/work-sprites.png') no-repeat -129px -86px;
  	width: 84px;
  	height: 81px;
    position:absolute;
    top: 25px;
}
#seventh {
  background: url('../imgs/work-sprites.png') no-repeat -256px -92px;
  	width: 87px;
  	height: 75px;
}
#eight {
  background: url('../imgs/work-sprites.png') no-repeat -385px -109px;
  	width: 84px;
  	height: 64px;
}
#ninth {
  background: url('../imgs/work-sprites.png') no-repeat -1px -174px;
  	width: 75px;
  	height: 75px;
}
#tenth {
  background: url('../imgs/work-sprites.png') no-repeat -148px -169px;
  	width: 50px;
  	height: 88px;
}
#eleventh {
  background: url('../imgs/work-sprites.png') no-repeat -268px -174px;
  	width: 52px;
  	height: 74px;
}
#twelfth {
  background: url('../imgs/work-sprites.png') no-repeat -387px -190px;
  	width: 66px;
  	height: 70px;
}

.work-box span {
  position:absolute;
  left: calc(50% - 45px);
  top: 30px;
}

.work-text {
  position:relative;
  top:89px;
  left:  -85px;);
  width: 250px;
  overflow: none;
  white-space: initial;
  font-weight:bolder;
  text-align:center;
}


#rise .bcg{
    display:block;
    width:100%;
    position:relative;
    background-color: #808080;
    height:290px;
    top-margin:-20px;
}
#komo {
  width:180px;
  background: url(../imgs/komo_snippet1.png) 0px 0px;
  height:160px;
  background-size: 182px;
  display:inline-block;
  top:20px;
}


#armory {
width:180px;
background:  url(../imgs/armory_snippet1.png) 0px 0px;
height:160px;
background-size: 180px;
display: inline-block;
top:20px;
}

.hover {
      background-color: rgba(0, 0, 0, 0.55);
      position: absolute;
      width: 180px;
      height: 160px;
      left:0;
}
.hover:hover{
  background-color: rgba(0, 0, 0, .01);
}
/**/
/**/

#inspire .bcg {
  display:block;
  width:100%;
  position:relative;
  background: url("../imgs/open.jpeg") center;
  background-color: #ccc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  height:250px;
}

.email-box  {
  float:left;background: #333;
  color: #ccc;
  width: 330px;
  height:120px;
  padding: 6px 15px 6px 35px;
  border-radius: 1%;
  box-shadow: 0 1px 0 #ccc inset;
  transition: 500ms all ease;
  outline: 0;
}
.email-btn {
/*position: absolute;*/
background: #222;
color: #ccc;
width: 110px;
padding: 6px 9px 6px 11px;
border-radius: 20px;
box-shadow: 0 1px 0 #ccc inset;
text-align-last: left;
transition: 1000ms;
}
.email-btn:hover {
  background: #ccc;
}
.email-input {
  background: #333;
     color: #ccc;
     width: 165px;
     padding: 6px 15px 6px 35px;
     border-radius: 20px;
     box-shadow: 0 1px 0 #ccc inset;
     outline: 0;

}

#footer .bcg {
  display:block;
  width:100%;
  position:relative;
  background-color: #000;
  height:80px;
  margin-top:-20px;
}

.spritesheet {
  background: url(../imgs/social-sprite.png) center no-repeat;
  width:32px;
  height:38px;
}
.about-us{
  position:absolute;
  top:39px;
  width: 410px;
  overflow: none;
  white-space: initial;
  font-weight:normal;
  line-height: .85em;
  text-align:left;
  font-weight:lighter;
  color:white;
  right:30px;
}
#twitter {
	background-position:-2px 0px;
  top:5px;
	width: 32px;
	height: 38px;
  left: calc(75% - 35px);
  position: absolute;
}

#facebook {
	background-position: -34px 0px;
  top:5px;
	width: 32px;
	height: 38px;
  position:absolute;
  left: calc(50% - 35px);

}

#google-plus {
	background-position: -66px 0px;
  top:5px;
	width: 33px;
	height: 38px;
  position:absolute;
  left: calc(25% - 35px);
}
/* ------------RESPONSIVE-----------------*/
 @media (min-width:767px) and (max-width:1042px) {
   .work-text {
    width:160px ;
    left: -39px;
    text-align:center;
   }
 }

 @media (max-width:569px) {
.work-text{
 width: 140px;
 text-align: center;
 left:-29px;
 }
 .header-text {
   right:30px;
 }
 .about-us {
   left(calc:50% - 400px);

 }
 #design .bcg {
   background-size:130%;
   height:125px;
   background-color:black;
   background-attachment: scroll;
 }
 #inspire .bcg {
   background-size:130%;
   height:150px;
   background-color:black;
   background-attachment: scroll;
 }
 .layer-text {
   text-align: center;
 }
 }
@media (max-width:767px) {
  #design .bcg{
    height:200;
  }
  #develop .bcg{
    height:560px;
  }
  #optimize .bcg{
    height:450px;
    top:-20px;
  }
  .layer-text h3 {
      width: 355px;
      font-size:4.9vw;
      padding-right: 15px;
    }
    .about-us {
      text-align: center;
      font-size:19px;
      width:350px;
      color:black;
      left(calc:50% - 200px);
      top: 290px;
      float:left;
      position:absolute;
    }
}

@media (min-width:530px) and (max-width:768px) {
  .layer-text h3 {
      width: 355px;
      font-size:3.4vw;
      padding-right: 15px;
    }
}
@media (max-width:650px) {
.cloud-font {
  left: calc(50% - 130px);
  font-size:6vw;
  top: 100px;
  text-shadow: 0px 0px 02px white;
}
.box-1{
  background: url('../imgs/design-sprites.png') no-repeat 30px 15px;
	width: 99px;
	height: 99px;
  background-size:215%
}

.box-2{
  background: url('../imgs/design-sprites.png') no-repeat -59px 15px;
	width: 99px;
	height: 95px;
  background-size:215%
}
.box-3{
  background: url('../imgs/design-sprites.png') no-repeat -138px 15px;
	width: 99px;
	height: 99px;
  background-size:215%
}
.box-1,.box-2,.box-3 {
margin-left: calc(50% - 73px);
}

.about-text {
  font-size: 10px;
  top:80px;
  left:10px;
transition: 1000ms;
}

.third.about-text {
  margin-left:-15px;
}

#about .bcg{
  height:190px !important;
}

}
